{% extends "docsearch/base_content.html" %}

{% block title %}About{% endblock %}

{% block content %}
<div class="row">
  <div class="col-sm-12">
    <h1 class="mb-3">
      About
    </h1>
    <p>
      This Document Search App is how the Planning and Development department
      of the Forest Preserves of Cook County catalogs many of its project documents.
      Below is a brief description of each category.
    </p>
    <ul>
      <li><strong>Books</strong> – Surveyor field notebooks.</li>
      <li><strong>Control Monument Maps</strong> – Documentation on placement of monument markers.</li>
      <li><strong>Surplus Parcels</strong> – Documentation on surplus parcels.</li>
      <li><strong>Deep Tunnels</strong> – MWRD Deep Tunnel project documentation.</li>
      <li><strong>Dossiers</strong> – Title Policies, Abstracts, Appraisals, other misc. documents.</li>
      <li><strong>Easements</strong> – Documentation on easements.</li>
      <li><strong>Flat Drawings</strong> – Drawings of projects managed by the Planning and Development Dept. These would include; buildings, trails, and parking lots.</li>
      <li><strong>Index Cards</strong> – Survey monument records.</li>
      <li><strong>Licenses</strong> – Licenses issued by the District.</li>
      <li><strong>Project Files</strong> – Planning and Development project files.</li>
      <li><strong>Rights of Way</strong> – Documentation on right of ways within District property.</li>
      <li><strong>Surveys</strong> – Surveys of property acquired by the District.</li>
      <li><strong>Titles</strong> – Titles, Deeds, Judgment Orders of property acquired by the District.</li>
    </ul>
    <p>
      Additional documentation on using the app is available
      <a href="https://docs.google.com/document/d/19kgEViMIBVwCvDhUYfGJZ2490oe1ZcwGOE6b6i9FzM4/edit?usp=sharing">here</a>.
    </p>
  </div>
</div>
{% endblock %}
