{% extends "docsearch/base_content.html" %}

{% load get_attr %}
{% load model_meta %}

{% block title %}{{ view.model|verbose_name|title }}{% endblock %}

{% block content %}
<div class="row">
  <div class="col-12">
    <h1>
      {{ view.model|verbose_name|title }}
      <small class="float-right">
        <a class="btn btn-secondary bg-fpdcc-light-green" href="{{ update_url }}">Edit</a>
      </small>
    </h1>
    <p class="text-muted">{{ object.actions.first.get_action_string|capfirst }}</p>
    <hr/>
  </div>
</div>
<div class="row">
  <div class="col-lg-6">
    <div class="table-responsive">
      <table class="table table-sm table-borderless">
        <tbody>
          {% for field in view.metadata_fields %}
            <tr>
              <td><strong>{{ object|field_name:field|capfirst }}:</strong></td>
              <td>{{ object|get_attr:field|default_if_none:"" }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <hr/>
  </div>
</div>
{% endblock %}
