{% extends "docsearch/base.html" %}

{% load static %}
{% load crispy_forms_tags %}
{% load model_meta %}
{% load humanize %}
{% load arithmetic %}
{% load params %}
{% load get_attr %}

{% block title %}Search for {{ view.model|verbose_name_plural|title }}{% endblock %}

{% block extra_css %}
<link href="{% static 'css/leaflet.css' %}" rel="stylesheet">
{% endblock %}

{% block body %}
<div class="container-fluid">
  <div class="row jumbotron p-4">
    <div class="col-sm-10 offset-sm-1">
      <h1 class="mb-3">
        Search for {{ view.model|verbose_name_plural|title }}
      </h1>
      <form method="GET" class="mb-4">
        <div class="row">
          <div class="col-md">
            <div class="input-group">
              <input
                type="text"
                id="entity-lookup"
                name="q"
                class="form-control form-control-lg"
                placeholder="Search for a document..."
                value="{{ query }}"
                autofocus
              />
              <div class="input-group-append">
                <button type="submit" class="btn btn-secondary bg-fpdcc-light-green btn-lg" id="submit-button">
                  <i class="fas fa-search"></i> Search
                </button>
              </div>
            </div>
          </div>
        </div>
      </form>
      {% if selected_facet_fields %}
          <a href="{{ request.path }}" class="btn btn-outline-secondary">
            <i class="fa fa-fw fa-times"></i> Start over
          </a>
      {% endif %}
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4">
      {% if facets.fields %}
        <div class="navbar navbar-light navbar-expand-sm pl-0" style="flex-flow:wrap">
          <h4>Limit your search</h4>
          <button
            class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#facet-panel-collapse"
            aria-controls="facet-panel-collapse"
            aria-expanded="false"
            aria-label="Toggle facets"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div id="facet-panel-collapse" class="facets-collapse collapse" style="width:100%">
            {% for facet_field in view.facet_fields %}
              <div class="card mt-3">
                <div class="card-header p-0" id="facet-{{ facet_field }}-header">
                  <h5 class="mb-0">
                    <button
                      class="btn btn-block text-left"
                      data-toggle="collapse"
                      data-target="#facet-{{ facet_field }}"
                      aria-expanded="false"
                      aria-controls="facet-{{ facet_field }}"
                    >
                      {% get_facet_verbose_name facet_field view %}
                    </button>
                  </h5>
                </div>
                {% with facet_field|add:"_exact" as facet_field_exact %}
                  <div
                    id="facet-{{ facet_field }}"
                    class="collapse {% if facet_field_exact in selected_facet_fields %}show{% endif %}"
                    aria-labelledby="facet-{{ facet_field }}-header"
                  >
                    {% if facet_field in view.geo_facet_fields %}
                      <div class="card-body p-0">
                        <div
                          class="map"
                          style="height:300px"
                          data-facet-field="{{ facet_field }}"
                          id="map-{{ facet_field }}"
                        >
                        </div>
                      </div>
                    {% else %}
                      <div class="card-body pb-0">
                        <ul class="pl-0" style="list-style-type:none">
                          {% for value, count in facets.fields|get_key:facet_field %}
                            {% if count > 0 %}
                              {% with facet_field_exact|add:":"|add:value as facet_query %}
                                <li>
                                  {% if facet_query in selected_facets %}
                                    <a href="?{% remove_facet_param parameters facet_field_exact value %}" title="{{ value }}">
                                      <strong>{{ value }}</strong>&nbsp;<i class="fa fa-fw fa-times"></i>
                                    </a>
                                  {% else %}
                                  <a href="?{% set_facet_param parameters facet_field_exact value %}" title="{{ value }}">
                                    {{ value }}
                                  </a>
                                  {% endif %}
                                  <span class="badge badge-secondary rounded-pill float-right">{{ count }}</span>
                                </li>
                              {% endwith %}
                            {% endif %}
                          {% endfor %}
                        </ul>
                      </div>
                    {% endif %}
                  </div>
                </div>
              {% endwith %}
            {% endfor %}
          </div>
        </div>
        <div class="d-sm-none">
          <hr/>
        </div>
      {% endif %}
    </div>
    <div class="col-sm-8">
      <div class="row">
        <div class="col-xs-12 col-lg-7 order-lg-2">
          {% if view.get_sort_options %}
            <h6 class="float-lg-right">
              Sort by:
              <select class="sort-select">
                <option value=""></option>
                {% for sort_option in view.get_sort_options %}
                  <option
                    value="?{% set_param parameters 'sort' sort_option.value %}"
                    {% if sort == sort_option.value %}selected{% endif %}
                  >
                    {{ sort_option.label }}
                  </option>
                {% endfor %}
              </select>
              <select class="sort-select">
                <option
                  value="?{% set_param parameters 'sortdir' 'asc' %}"
                  {% if not sortdir or sortdir == "asc" %}selected{% endif %}
                >
                  ascending
                </option>
                <option
                  value="?{% set_param parameters 'sortdir' 'desc' %}"
                  {% if sortdir == 'desc' %}selected{% endif %}
                >
                  descending
                </option>
              </select>
            </h6>
          {% endif %}
        </div>
        <div class="col-xs-12 col-lg-5">
          <h3>
            Results
            <small class="text-muted">
              {{ paginator.count|intcomma }} found
            </small>
          </h3>
        </div>
      </div>
      <div class="table-responsive">
        <table class="table table-bordered">
          <thead>
            {% block thead %}{% endblock %}
          </thead>
          <tbody>
            {% for result in object_list %}
              <tr>
                {% block tr %}{% endblock %}
              </tr>
            {% empty %}
              <tr>
                <td colspan="{% block empty_colspan %}{% endblock %}"><i>No results found.</i></td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
      {% if is_paginated %}
        <nav aria-label="Page navigation">
          <ul class="pagination">
            <li class="page-item {% if not page_obj.has_previous %}disabled{% endif %}">
              <a
                class="page-link {% if page_obj.has_previous %}fpdcc-light-green{% endif %}"
                href="{% if page_obj.has_previous %}?{% set_param parameters 'page' page_obj.previous_page_number %}{% else %}#{% endif %}"
              >
                Previous
              </a>
            </li>
            {% if paginator.num_pages >= 10 and page_obj.number >= 9 %}
              <li class="page-item"><a class="page-link fpdcc-light-green" href="?{% set_param parameters 'page' 1 %}">1</a></li>
              <li class="page-item disabled"><a class="page-link" href="#">&#8230;</a></li>
            {% endif %}
            {% for num in paginator.page_range %}
                {% if not forloop.last and page_obj.number|absubtract:num < 5 %}
                  <li class="page-item {% if num == page_obj.number %}active{% endif %}">
                    <a
                      class="page-link {% if num != page_obj.number %}fpdcc-light-green{% endif %}"
                      href="?{% set_param parameters 'page' num %}"
                    >
                      {{ num }}
                    </a>
                  </li>
                {% endif %}
            {% endfor %}
            {% if paginator.num_pages >= 10 %}
              {% if paginator.num_pages|subtract:page_obj.number >= 10 %}
                <li class="page-item disabled"><a class="page-link" href="#">&#8230;</a></li>
              {% endif %}
            {% endif %}
            <li
              class="page-item {% if paginator.num_pages == page_obj.number %}active{% endif %}"
            >
              <a
                class="page-link {% if paginator.num_pages != page_obj.number %}fpdcc-light-green{% endif %}"
                href="?{% set_param parameters 'page' paginator.num_pages %}"
              >
                {{ paginator.num_pages }}
              </a>
            </li>
            <li class="page-item {% if not page_obj.has_next %}disabled{% endif %}">
              <a
                class="page-link {% if page_obj.has_next %}fpdcc-light-green{% endif %}"
                href="{% if page_obj.has_next %}?{% set_param parameters 'page' page_obj.next_page_number %}{% else %}#{% endif %}"
              >
                Next
              </a>
            </li>
          </span>
        </div>
      {% endif %}
    </div>
  </div>
{% endblock %}

{% block extra_js %}
<!-- TODO: Swap out this API key -->
<script src="https://maps.google.com/maps/api/js?libraries=places&v=3.32&key=AIzaSyBY-seQ_j3E_04VZ4YZ4ydszpHmPJsS038"></script>
<script src="{% static 'js/leaflet.js' %}"></script>
<script src="{% static 'js/leaflet-google.js' %}"></script>
<script type="text/javascript">
  $(document).ready(function(){
    $('select.sort-select').change(function(e) {
      window.location.assign(e.target.value);
    });
    $('.map').each(function(idx, elem) {
      var map = L.map(elem, {
        center: [41.85, -87.69],
        zoom: 8,
        dragging: true,
        touchZoom: true,
        zoomControl: !L.Browser.mobile,
        tap: true,
        scrollWheelZoom: false
      });
      var streets = new L.Google('ROADMAP', {
        mapOptions: {
          styles: [
            {stylers: [{saturation: -100}, {lightness: 40}]},
            {featureType: "poi", elementType: "labels", stylers: [{ visibility: "off" }]}
          ]
        }
      });
      map.addLayer(streets);
      $('#facet-' + elem.dataset.facetField).on('shown.bs.collapse', function() {
        map.invalidateSize();
      })
    });
  });
</script>
{% endblock %}
