{% extends 'docsearch/base_content.html' %}

{% load crispy_forms_tags %}

{% block title %}Password Reset Form{% endblock %}

{% block content %}
<div class="row">
  <div class="col-sm-8 offset-sm-2">
    <h1>Password reset</h1>
    {% if form %}
      <p>
        Please enter your new password.
      </p>

      <form method="POST">
          {% csrf_token %}
          {{ form|crispy }}
          <input class="btn btn-secondary bg-fpdcc-light-green" type="submit" value="Reset Password">
      </form>
    {% else %}
      <p>This link is invalid, please request another on the password reset page.</p>
      <p>
        <a class="btn btn-secondary bg-fpdcc-light-green" href="{% url 'reset_password' %}">
            Request Password Reset
        </a>
      </p>
    {% endif %}
  </div>
</div>
{% endblock %}