{% autoescape off %}
Hello {{ user.first_name|default:user.username }},

You're receiving this e-mail because you requested a password reset for your user account at {{ site_name }}.

Please go to the following page and choose a new password:
{% block reset_link %}
{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}
{% endblock %}

Your username, in case you've forgotten: {{ user.username }}

If you didn't request a password reset, you can ignore this email. Your password will not be changed.

Thanks,
Forest Preserves of Cook County

{% endautoescape %}