{% extends 'docsearch/base_content.html' %}

{% load crispy_forms_tags %}

{% block title %}Password Reset Complete{% endblock %}

{% block content %}
<div class="row">
  <div class="col-sm-8 offset-sm-2">
    <h1>Password reset complete</h1>
    <p>Your new password has been set! Please login</p>

    <p>
        <a class="btn btn-secondary bg-fpdcc-light-green" href="{% url 'login' %}">
            <i class="fa fa-fw fa-arrow-left" aria-hidden="true"></i>
            Log in
        </a>
    </p>
  </div>
</div>
{% endblock %}