Django==2.2.20
psycopg2==2.8.4
django-storages==1.8
django-crispy-forms==1.8.1
boto3==1.10.38
django-haystack==2.8.1
pysolr==3.8.1
gunicorn==20.0.4
django-leaflet==0.26.0
django-datatables-view==1.19.1
