{% extends "docsearch/base_search.html" %}

{% load model_meta %}
{% load display %}

{% block thead %}
  <th>{{ view.model|field_name:"township"|capfirst }}</th>
  <th>{{ view.model|field_name:"range"|capfirst }}</th>
  <th>{{ view.model|field_name:"section"|capfirst }}</th>
  <th>{{ view.model|field_name:"part_of_section"|capfirst }}</th>
  <th></th>
{% endblock %}
{% block tr %}
  <td>{{ result.object.township|default_if_none:"" }}</td>
  <td>{{ result.object.range|default_if_none:"" }}</td>
  <td>{{ result.object.section|display_array|default_if_none:"" }}</td>
  <td>{{ result.object.part_of_section|default_if_none:"" }}</td>
  <td><a class="results-link"href="{{ result.object.get_absolute_url }}">View details&nbsp;&raquo;</td>
{% endblock %}
{% block empty_colspan %}5{% endblock %}
