{% extends "docsearch/base_search.html" %}

{% load model_meta %}

{% block thead %}
  <th>{{ view.model|field_name:"area"|capfirst }}</th>
  <th>{{ view.model|field_name:"section"|capfirst }}</th>
  <th>{{ view.model|field_name:"map_number"|capfirst }}</th>
  <th>{{ view.model|field_name:"location"|capfirst }}</th>
  <th>{{ view.model|field_name:"building_id"|capfirst }}</th>
  <th>{{ view.model|field_name:"description"|capfirst }}</th>
  <th>{{ view.model|field_name:"job_number"|capfirst }}</th>
  <th>{{ view.model|field_name:"number_of_sheets"|capfirst }}</th>
  <th>{{ view.model|field_name:"date"|capfirst }}</th>
  <th>{{ view.model|field_name:"cross_ref_area"|capfirst }}</th>
  <th>{{ view.model|field_name:"cross_ref_section"|capfirst }}</th>
  <th>{{ view.model|field_name:"cross_ref_map_number"|capfirst }}</th>
  <th></th>
{% endblock %}
{% block tr %}
  <td>{{ result.object.area|default_if_none:"" }}</td>
  <td>{{ result.object.section|default_if_none:"" }}</td>
  <td>{{ result.object.map_number|default_if_none:"" }}</td>
  <td>{{ result.object.location|default_if_none:"" }}</td>
  <td>{{ result.object.building_id|default_if_none:"" }}</td>
  <td>{{ result.object.description|default_if_none:"" }}</td>
  <td>{{ result.object.job_number|default_if_none:"" }}</td>
  <td>{{ result.object.number_of_sheets|default_if_none:"" }}</td>
  <td>{{ result.object.date|default_if_none:"" }}</td>
  <td>{{ result.object.cross_ref_area|default_if_none:"" }}</td>
  <td>{{ result.object.cross_ref_section|default_if_none:"" }}</td>
  <td>{{ result.object.cross_ref_map_number|default_if_none:"" }}</td>
  <td><a href="{{ result.object.get_absolute_url }}">View details&nbsp;&raquo;</td>
{% endblock %}
{% block empty_colspan %}13{% endblock %}
